.App {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
}

.page-container {
  margin: 0 auto;
  max-width: 100%;
  width: 600px;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
