.results-list-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon-correct {
  margin-top: 4px;
  font-size: 30px;
  color: #0ec44c;
}

.icon-wrong {
  margin-top: 4px;
  font-size: 30px;
  color: #f31f1f;
}
