.home-container {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .logo {
    margin-top: 20px;
    height: auto;
    width: 100px;
  }

  .title-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .title {
      font-size: 34px;
      color: #212121;
      font-weight: bold;
    }

    .subtitle {
      font-size: 16px;
      color: #212121;
    }
  }

  .score-container {
    margin-top: 30px;
    background-color: #2aa2de;
    padding: 10px 30px;

    .label {
      font-size: 34px;
      color: #fff;
      font-weight: bold;
    }
  }

  .divider {
    flex-grow: 1;
    width: 100%;
    height: 1px;
  }

  .footer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    .btn-begin {
      color: #212121;
      font-size: 20px;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .icon {
      color: #212121;
      font-size: 20px;
    }
  }
}
